.feed{
    flex: 1;
    margin: 0 0;
    max-width: 50vw;
    justify-content: center;
    align-items: center;
}
.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
    background-color: rgb(29, 155, 240);
 }
 .header__left{
     display: flex;
 }
 .header__left>img{
     object-fit: contain;
     height: 40px;
     margin-right: 10px;
 }
 .header__search{
     padding: 10px;
     display: flex;
     align-items: center;
     border-radius: 5px;
     height: 22px;
     color: grey;
     background-color: #eef3f8;
     width: 80px;
  
 }
 .header__searchIcon{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: black;
    background-color: rgb(29, 155, 240);
 
}
 .header__search__arrow{
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: black;
    background-color:rgb(29, 155, 240);
}
 .header__search__picker{
     outline: none;
     border: none;
     background: none;
 }
 .header__search__picker::placeholder{
    padding: 10px;
    font-weight: 200;
    font-size: large;
    
 }
 @media screen and (max-width: 900px) {
    .header__search{
        width: 10vw;
    }
 }
.feed__inputOptions{
    display: flex;
    justify-content: space-evenly;
    
}